{% extends 'base.html.twig' %}
{% block body %}
	<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="#">Home
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					{% if app.user %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.firstName ~ ' ' ~ app.user.lastName }}</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ url('app_profile_homepage') }}">Profile</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{ url('_logout_main') }}">Logout</a>
							</div>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url('app_security') }}">Login</a>
						</li>
					{% endif %}

				</ul>
				<form class="d-flex">
					<input class="form-control me-sm-2" type="search" placeholder="Search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
	{% block important %}{% endblock %}
	<div class="container">
		{% block content %}{% endblock content%}
	</div>
	<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
		<p class="col-md-4 mb-0 text-muted">© 2022 Company, Inc</p>

		<a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
			<svg class="bi me-2" width="40" height="32">
				<use xlink:href="#bootstrap"></use>
			</svg>
		</a>

		<ul class="nav col-md-4 justify-content-end">
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-muted">Home</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-muted">Features</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-muted">Pricing</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-muted">FAQs</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-muted">About</a>
			</li>
		</ul>
	</footer>
{% endblock body%}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ asset('styles/bootstrap.min.css') }}"/>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}
